.secondHint {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blueRedInput {
  padding: 15px;
}

.redInput {
  width: 300px;
}

.input {
  color: black;
}

.darkModeInput {
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20px;
  width: 400px;
  padding-top: 30px;
}

.darkModeValidation {
  color: white;
}