.board {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 100px;
    color: #094296;
    font-family: Helvetica, Arial, sans-serif;
}

.prompt {
    font-size: 40px;
    color: #094296;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.wordForm {
    text-align: center;
    padding-bottom: 20px;
}

.page {
    padding-bottom: 100px;
}

.alignment {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hints {
    margin-right: 100px;
}

.btn {
    padding: 5px 8px;
    background-color: #094296;
    color: white;
    font-weight: bold;
    border: #094296 solid 3px;
    border-radius: 5px;
    width: 140px;
    transform: scale(1);
}

.dashes {
    padding-top: 20px;
}

.btn:active {
    transform: scale(0.95) perspective(800px);
}

.darkMode {
    background-color: black;
}

.darkModeDashes {
    color: white;
}

.darkModePrompt {
    color: #325d9c;
    font-size: 40px;    
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.darkModeBoard {
    color: white;
}